<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>70401825473-t6ebqol6osl01nbrnp51n280s4trrmbq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.70401825473-t6ebqol6osl01nbrnp51n280s4trrmbq</string>
	<key>API_KEY</key>
	<string>AIzaSyCoIG7xRnPb7flCehWtxLN9xIklotEx4Bk</string>
	<key>GCM_SENDER_ID</key>
	<string>70401825473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gwap</string>
	<key>PROJECT_ID</key>
	<string>gym-app-gd</string>
	<key>STORAGE_BUCKET</key>
	<string>gym-app-gd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:70401825473:ios:97cc0ce009627213</string>
	<key>DATABASE_URL</key>
	<string>https://gym-app-gd.firebaseio.com</string>
</dict>
</plist>